In [4]:
import yfinance

data = yfinance.download(['^TNX'], interval='1mo')

data.tail()

[*********************100%***********************]  1 of 1 completed

Price       Close   High    Low   Open Volume
Ticker       ^TNX   ^TNX   ^TNX   ^TNX   ^TNX
Date
2024-02-01  4.252  4.354  3.817  3.927      0
2024-03-01  4.206  4.348  4.038  4.268      0
2024-04-01  4.686  4.737  4.234  4.234      0
2024-05-01  4.571  4.676  4.567  4.670      0
2025-05-01  4.509  0.000  0.000  0.000      0